@model projeto_asp_net_cor.Models.RegisterModel

@{
    Layout = "_Layout";
}

<h1>Register</h1>

<h4>RegisterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label @* asp-for="UserName" *@ class="control-label"></label>
                <input asp-for="UserName" class="form-control input-border " placeholder="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @* asp-for="Password" *@ class="control-label"></label>
                <input asp-for="Password" class="form-control input-border" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @* asp-for="ConfirmPassword" *@ class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control  input-border" placeholder="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary input-btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
