@{
    ViewData["Title"] = "Success";
}

<div class="container col-lg-12 mt-5" style="background-color: darkseagreen;">

    <div class="text-white p-3" style="height: 100px;">
        <h1>Usuario cadastrado com sucesso!</h1>
    </div>

</div>

